*{
    padding: 0;
    margin: 0;
}
body{
    
    background: url("../snbg.jpg");
    min-height: 100vh;
    background-size: 100vw 170vh;
}
#board{
    background: linear-gradient(rgb(201, 226, 201),rgb(240, 240, 195));
    width: 90vmin;
    height: 72vmin;
    position: absolute;
    top: 8%;
    left: 2%;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
.head{
    background-color: red;
    border-radius:8px ;
}
.snake{
    background-color: rgb(81, 240, 8);
    border: 0.25vmin solid white;
    border-radius: 12px;

}
.food{
    background: linear-gradient(rgb(0, 0, 0),rgb(0,0,0));
    border: 0.25vmin solid black;
    border-radius:8px ;
}
#scoreBox{
    position: absolute;
    top: 257px;
    right: 498px;
    font-size: 74px;
    font-weight: bold;
    color: white;
}
#hiscoreBox{
    position: absolute;
    font-size: 74px;
    font-weight: bold;
    color: white;
    top: 368px;
    right: 443px;

}